    .card {
    display: flex;
    flex-direction: column;
    list-style: none;
    }

    .card__title {
        font-family: "Inter", Arial, sans-serif;
        font-weight: 900;
        font-size: 24px;
        line-height: 29px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 193px;
        margin: 0;
      }

      .card__description {
        display: flex;
        background-color: white;
        color: black;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 25px 20px 25px 20px;
        align-items: center;
        justify-content: space-between;
      }

      .card__image {
        width: 282px;
        height: 282px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      .card__like-button {
        background: transparent url(../images/Like\ Button.svg) center no-repeat;
        width: 21px;
        height: 18px;
        border: none;
      }

      .card__like-button:hover {
          opacity: 0.5;
          cursor: pointer;
      }