.footer {
    margin-top: 53px;
    margin-bottom: 45px;
    color: #545454;
}

.footer__copyright {
    margin: 0;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 620px) {
    .footer {
        max-width: 282px;
    }

    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
    }

}